<div id="letterForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Письмо</h3>
	</div>
	<div class="modal-body">
		<%= render :partial => 'letters/form', :locals => { :letter => Letter.new } %>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
		<input type="submit" value="Отправить" class="btn btn-primary" onclick="submitForm()">
	</div>
</div>