/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 *= require bootstrap_and_overrides

 */
 @import "http://webfonts.ru/import/boblic.css";
@font-face{
	font-family: 'Helvetic Light';
        src: url(font-path('helveticaneuecyr-light.otf'));
}
@font-face{
	font-family: 'Helvetic Medium';
        src: url(font-path('helveticaneuecyr-medium.otf'));
}
.baby-light{
	background: rgb(114, 180, 247);
}
.family-light{
 background: rgb(82, 216, 86);
}
